<div class="card card-advisor" id="{{slug}}">
    <div class="card-content-container">
        <div class="heading content-padding">
            <img src="{{icon}}" class="icon" alt="{{faction}} icon">
            {{#if img}}
                <img src="assets/bgs/{{img}}" class="card-portrait" alt="{{name}} {{variant_name}} icon"/>
            {{/if}}
            <div class="title">
                <div class="primary-title">
                    {{name}}{{#if variant_name}}:
                    <span class="variant-title">
                        {{variant_name}}
                    </span>
                {{/if}}
                </div>

                <div class="sub-title">
                    {{type}}
                </div>

                <div class="faction">
                    {{faction}}
                </div>
            </div>
        </div>

        {{#if command_abilities.length}}
        <h3 class="section-heading">
            Command Abilities
            <span class="command-points">
                Command: <span class="command-points-value">{{command_points}}</span>
            </span>
        </h3>
        <div class="command-abilities content-padding"{{{style_font_size body_font_size}}}>
            {{#each command_abilities as |command_ability|}}

            <div class="key-value"{{{style_font_size font_size}}}>

                <span class="key">{{{name}}}</span>
                <span class="note">{{{cost}}}:</span>

                {{{desc}}}
            </div>

            {{#if command_ability.traits}}
            <div class="features">
                {{#each command_ability.traits as |trait|}}
                {{> key-value trait class='feature'}}
                {{/each}}
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{#if definitions.length}}
        <h3 class="section-heading">
            Notes
        </h3>
        <div class="actions content-padding"{{{style_font_size body_font_size}}}>
            {{#each definitions as |definition|}}
            {{> key-value definition}}
            {{/each}}
        </div>
        {{/if}}

        {{#if actions}}
        <div class="actions">
            <table class="table-actions">
                <thead>
                <tr class="heading-row">
                    <th>Actions</th>
                    <th class="col-stat">Stat</th>
                    <th class="col-cost">Cost</th>
                    <th class="col-range">Range</th>
                    <th class="col-rof">ROF</th>
                    <th class="col-effect">Effect</th>
                </tr>
                </thead>
                <tbody>
                {{#each actions}}
                {{#if no_stats}}
                    <tr class="action-row action-row-no-stats">
                        <td colspan="6"{{{style_font_size ../body_font_size}}}>
                            {{> key-value .}}
                        </td>
                    </tr>
                {{else}}
                <tr class="action-row"{{{style_font_size ../body_font_size}}}>
                    <td class="col-name"><strong>{{name}}</strong> {{#if note}}
                        {{#if line_break_note}}<br>{{/if}}
                        <small{{{style_font_size note_font_size}}}>({{note}})</small>{{/if}}
                        {{#if type}}
                        [{{type}}]{{/if}}
                    </td>
                    <td class="col-stat">
                        {{stat}}
                    </td>
                    <td class="col-cost">

                        {{#if cost.COST_ACTION}}
                        <span class="cost-icon-action">A</span>
                        {{/if}}
                        {{#if cost.COST_COMMAND}}
                        <span class="cost-icon-command">C</span>
                        {{/if}}

                        {{#if cost.COST_COMMAND_X2}}
                        <span class="cost-icon-command-x2">C2</span>
                        {{/if}}

                        {{#if cost.COST_ACTION_AND_COMMAND}}
                        <span class="cost-icon-action-and-command">A+C</span>
                        {{/if}}

                        {{#if cost.COST_ACTION_OR_COMMAND}}
                        <span class="cost-icon-action-or-command">A/C</span>
                        {{/if}}

                    </td>
                    <td class="col-range">{{#if range}}{{range}}"{{else}}-{{/if}}</td>
                    <td class="col-rof">{{null_dash rof}}</td>
                    <td class="col-effect">{{{effect}}}</td>
                </tr>
                {{#if desc}}
                    <tr class="action-description-row">
                        <td colspan="6"{{{style_font_size ../body_font_size}}}>
                            {{{desc}}}
                        </td>
                    </tr>
                {{/if}}
                {{#if traits}}
                    <tr class="action-features-row">
                        <td colspan="6"{{{style_font_size ../body_font_size}}}>
                            <div class="features">
                                {{#each traits as |trait|}}
                                    {{> key-value trait class='feature'}}
                                {{/each}}
                            </div>
                        </td>
                    </tr>
                {{/if}}
                {{/if}}
                {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}


        <div class="version-footer">
            V{{cardsVersion}}
        </div>
        <div class="sub-footer">
            GENERATED: {{timestamp}}
        </div>
    </div>
</div>
