<div class="header">
    <div class="container-ex">
        <h1>Downsync {{require 'title'}}</h1>

        {{#> after_header}}{{/after_header}}

        <div class="row">
            <div class="col">
                <div id="vue-card-filter"
                     data-print_url="{{require 'print_url'}}"
                     data-print_landscape_url="{{require 'print_landscape_url'}}"
                     data-web_url="{{require 'web_url'}}"
                     data-current_view="{{require 'current_view'}}"
                     data-json_factions="{{json (require 'filterFactions')}}"
                ></div>
            </div>
            <div class="col">
                <div class="float-md-end text-end m-1">

                    {{> btn-download-cards}}

                </div>
            </div>
        </div>
    </div>
</div>