<div class="card card-unit" id="{{slug}}">
    <div class="card-content-container">
        <div class="heading">

            <svg class="icon" fill="currentColor" aria-hidden="true" focusable="false">
                <use href="{{svg_icon_path faction_svg_sprite}}"></use>
            </svg>

            <div class="title">
                <div class="primary-title"{{{style_font_size name_font_size}}}>
                    {{name}}{{#if variant_name}}:
                    <span class="variant-title">
                        {{variant_name}}
                    </span>
                {{/if}}
                </div>

                <div class="sub-title">
                    {{type}}
                    {{#if squad_size}}
                        <span class="squad-size">{{squad_size}}</span>
                    {{/if}}
                </div>

                <div class="faction">
                    {{faction}}
                </div>
            </div>
            {{#if img}}
                <img src="/assets/img/units/{{img}}" class="card-portrait" alt="{{name}} {{variant_name}} portrait"/>
            {{/if}}
        </div>

        <table class="table-stats">
            <thead>
            <tr class="heading-row">
                <th>SIG</th>
                <th>SPD</th>
                <th>SCAN</th>
                <th>TARG</th>
                <th>DEF</th>
                <th>CM</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><small>{{{null_dash signature}}}</small></td>
                <td>{{null_dash speed}}{{#if speed}}"{{/if}}</td>
                <td>{{null_dash scan}}</td>
                <td>{{null_dash targeting}}</td>
                <td>{{null_dash defense}}</td>
                <td>
                    {{null_dash cm}}
                </td>
            </tr>
            </tbody>
        </table>

        {{#if actions}}
            <div class="actions">
                <table class="table-actions">
                    <thead>
                    <tr class="heading-row">
                        <th>Actions</th>
                        {{#if has_teams}}
                            <th class="col-team">Team</th>
                        {{/if}}
                        <th class="col-cost">Cost</th>
                        <th class="col-range">Range</th>
                        <th class="col-rof">ROF</th>
                        <th class="col-effect">Effect</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each actions}}
                        {{#if no_stats}}
                            <tr class="action-row action-row-no-stats">
                                <td colspan="{{#if ../has_teams}}6{{else}}5{{/if}}"{{{style_font_size
                                    ../body_font_size}}}>
                                    {{> key-value .}}
                                </td>
                            </tr>
                        {{else}}
                            <tr class="action-row"{{{style_font_size ../body_font_size}}}>
                                <td class="col-name"><strong>{{name}}</strong>
                                    {{#if limitation}}<small>({{limitation}})</small>{{/if}}
                                    {{#if stat}}[<small>{{stat}}</small>]{{/if}}
                                </td>
                                {{#if ../has_teams}}
                                    <td class="col-team">
                                        {{team}}
                                    </td>
                                {{/if}}
                                <td class="col-cost">
                                    {{> cost-icon cost=cost}}
                                </td>
                                <td class="col-range">{{#if range}}{{range}}"{{else}}-{{/if}}</td>
                                <td class="col-rof">{{null_dash rof}}</td>
                                <td class="col-effect">{{{effect}}}</td>
                            </tr>
                            {{#if desc}}
                                <tr class="action-description-row">
                                    <td colspan="{{#if ../has_teams}}6{{else}}5{{/if}}"{{{style_font_size
                                        ../body_font_size}}}>
                                        {{{desc}}}

                                        {{#if or_desc}}
                                            <br>
                                            <strong>- OR -</strong>
                                            <br>
                                            {{{or_desc}}}
                                        {{/if}}

                                        {{#if desc2}}
                                            <br>
                                            <strong>----</strong>
                                            <br>
                                            {{{desc2}}}
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/if}}
                {{#if traits}}
                    <tr class="action-features-row">
                        <td colspan="{{#if ../has_teams}}6{{else}}5{{/if}}"{{{style_font_size ../body_font_size}}}>
                            <div class="features">
                                {{#each traits as |trait|}}
                                    {{> key-value trait class='feature'}}
                                {{/each}}
                            </div>
                        </td>
                    </tr>
                {{/if}}
                {{/if}}
                {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}

        {{#if traits.length}}
        <h3 class="section-heading">
            Traits
        </h3>
        <div class="traits content-padding"{{{style_font_size body_font_size}}}>
            {{#each traits as |unit_trait|}}
            {{> key-value unit_trait}}

            {{#if unit_trait.traits}}
                <div class="features">
                    {{#each unit_trait.traits as |trait|}}
                        {{> key-value trait class='feature'}}
                    {{/each}}
                </div>
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{#if notes.length}}
            <h3 class="section-heading">
                Notes
            </h3>
            <div class="actions content-padding"{{{style_font_size body_font_size}}}>
                {{#each notes as |note|}}
                    {{> key-value note}}
                {{/each}}
            </div>
        {{/if}}

        <div class="version-footer">
            {{cardsVersion}}
        </div>
        <div class="sub-footer">
            GENERATED: {{timestamp}}
        </div>
    </div>
</div>
