<div class="header">
    <div class="container-ex">
        <h1>
            Downsync Unit Cards
        </h1>
        {{#if faction}}
            <h3>{{faction}}</h3>
        {{/if}}
        <div class="row">
            <div class="col">
                <div class="dropdown my-1 me-1 d-inline-block">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">

                        {{#if faction}}
                            Faction: {{faction}}
                        {{else}}
                            Factions: All
                        {{/if}}

                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/unit-cards-print.html">All</a></li>
                        {{#each factions}}
                            <li><a class="dropdown-item" href="/cards-print/{{faction_slug}}.html">{{faction}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                {{> btn-cards-view view='Print'}}

            </div>
            <div class="col">
                <div class="float-md-end text-end m-1">
                    {{#if faction}}
                        <a class="btn btn-primary"
                           href="/assets/pdfs/{{faction_slug}}-cards-print.pdf">Download {{faction}} Unit Cards
                            {{> svg-icon icon='pdf'}}
                        </a>
                    {{else}}
                        <a class="btn btn-primary" href="/assets/pdfs/unit-cards-print.pdf">Download Unit Cards
                            {{> svg-icon icon='pdf'}}
                        </a>
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</div>
