{{#extend 'layout/html' title='Unit Cards'}}

    {{#content 'page-content'}}

        <div class="header">
            <div class="container-ex">
                <h1>Unit Metrics</h1>
            </div>
        </div>

        <div class="primary-content">

            {{#each cardListData}}
                <div class="container">
                    <h2>{{faction}}</h2>

                    <div class="clearfix">
                        <table class="table table-bordered table-width-auto float-start me-2">
                            <thead>
                            <tr>
                                <th colspan="2">Unit List</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each factionCards}}
                                <tr>
                                    <th>{{name}}{{#if variant_name}}:{{/if}} {{variant_name}}</th>
                                    <td>{{signature}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>

                        <table class="table table-bordered table-width-auto float-start">
                            <thead>
                            <tr>
                                <th colspan="2">Size Counts</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Small</th>
                                <td>{{counts.Small}}</td>
                            </tr>
                            <tr>
                                <th>Medium</th>
                                <td>{{counts.Medium}}</td>
                            </tr>
                            <tr>
                                <th>Large</th>
                                <td>{{counts.Large}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            {{/each}}

        </div>
    {{/content}}
{{/extend}}

